body{
	background-color: AliceBlue;
}

h1 {
	color: DimGray;
	font-family: Arial, sans-serif;
	font-size: 3em;
	margin: 30px;
}

p {
	color: DimGray;
	font-family: Arial, sans-serif;
	font-size: 1em;
	margin: 30px;

}

